<div class="wrapper">

  <!--HEADER----------------->
  <header class="header-login">

    <div class="row">
      <img src="assets/logoImage.png" class="logo-image center-block" alt="Logo picture / Cactus">
    </div

    <div class="row">
      <img src="assets/VectorLogo.png" class="logo-text center-block" alt="Logotyp / Cactus">
    </div>

  </header>
  <!---------------->


    <div class="row taskList">
        <h1 class="col-xs-12">Tasks</h1>
        <ul class="list-inline">
            <li class="col-xs-6 list-padding" ng-controller="Tasks" ng-repeat="task in data">
                <input type="checkbox" ng-model="task.done">
                <span>{{task.taskName}}</span>
            </li>
        </ul>


    </div>
</div>


<pre>
    {{data | json}}
</pre>
<!--<pre>
        {{user | json}}
      </pre>-->