<div class="container">
    <div class="wrapper" ng-class="{active: location.path == '/login'}">

        <div class="row">
            <img src="assets/logoImage.png" class="logo-image center-block" alt="Logo picture / Cactus">
        </div <div class="row">
        <img src="assets/VectorLogo.png" class="logo-text center-block" alt="Logotyp / Cactus">
    </div>

    <div class="login-main">
        <form class="form-control" method="post" ng-controller="LoginController" ng-submit="loginForm()">


            <div class="col-xs-4">
                <input type="text" name="name" ng-model="userData.name" value="" class="center-block" placeholder="Username" required>
            </div>

            <input type="text" name="name" ng-model="userData.password" value="" class="center-block" placeholder="Password" required>
            <button class="btn btn-default btn btn-large center-block" type="submit">Login</button>
            <button class="btn btn-default btn btn-large center-block" type="button" ng-click="logout()">Logout</button>
            <span>Don't have an account?<a href="#/register"> Sign up</a></span>
    </div>
    </form>


    <!--  <button type="button" class="btn btn-default" ng-click="logout()" name="button">Logout</button> -->

</div>
<!--end wrapper -->
</div>