<ul class="nav navbar-nav">
    <li ng-class="{active: isActive('/profile')}">
        <a href="#/login">Login</a>
    </li>
    <li ng-class="{active: isActive('/find')}">
        <a href="#/createGroup">Create Group</a>
    </li>
    <li ng-class="{active: isActive('/network')}">
        <a href="#/register">Register</a>
    </li>
    <li ng-class="{active: isActive('/chat')}">
        <a href="#/overview">Overview</a>
    </li>

    <li ng-class="{active: isActive('/chat')}">
        <a href="#/tasks">Tasks</a>
    </li>
</ul>


<!--
 <button class="navbar-toggle active" type="button" data-toggle="navoverlay">



  <ul class="nav nav-tabs" role="tablist">

    <li role="presentation" class="active">
      <a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a>
    </li>

    <li>
      <a href="#creategroup" aria-controls="login" role="tab" data-toggle="tab">Create Group</a>
    </li>
    <li>
      <a href="#/register">Register</a>
    </li>
    <li>
      <a href="#/overview">Overview</a>
    </li>
    <li>
      <a href="#/tasks">Tasks</a>
    </li>
  </ul>
-->
