/* app css stylesheet */

/*------------GENERAL------------------------------------------------------*/

@font-face {

  font-family: 'MontserratH';
  src:  url('fonts/Montserrat-Hairline.otf');
}

@font-face {
  font-family: 'Montserrat';
  src:  url('fonts/Montserrat-Regular.otf');
}

* {
	margin: 0 auto;
}

body {
	font-family: 'Montserrat';
	background-color: #1d8391;
}

a,
a:active,
a:hover {
	text-decoration: none;
	color: white;
}

::-webkit-input-placeholder {
  color: white;
}
::-moz-placeholder {
  color: white;
}
:-ms-input-placeholder {
  color: white;
}
:-moz-placeholder {
  color: white;
}


li {
	list-style: none;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
	text-align: center;
}

img.logo-image,
img.logo-text {
	height:3em;

}

div.wrapper {
	margin-top: 10%;
}


.button-style {
	margin-top: 16px;
  margin-bottom: 32px;
	background-color: #f06eaa;
	border:none;
  color:white;
  border-radius: 0;
  font-family: 'Montserrat';
  width: 315px;
  height:45px;
  }

  input.input-style {

  background-color: #1cbbb4;
	border: none;
  font-family: 'MontserratH';
  width: 315px;
  height: 45px;
  padding-left: 20px;

}

/*-----LOGIN PAGE----------*/

.header-login {

margin-bottom: 230px;
}


/*-----REGISTER PAGE---------*/

div.register-main {
  position: relative;
  margin-top: 150px;
}

/*-----CREATE GROUP PAGE------*/

div.createGroup-main {
  position: relative;
  margin-top: 230px;
}

div.create-text {
  margin-bottom: 20px;
}

/*-----OVERVIEW PAGE--------*/

div.overview-text {
  margin-top: 20px;
  margin-bottom: 10px;
}

/*-----TASKS PAGE----------*/

div.taskList {
	text-align: center;
}






/*-----menu/nav----------*/

/*.menu-nav
 li.dropdown.open {
 	position: static;
 }
	.dropdown-menu {
	 display: table;
	 left:0;
	 right:0;
 	 min-width: auto;
	 width:100%;
 	 text-align: center; }
	 */

/*
.menu {
		list-style: none;
		border-bottom: 0.1em solid black;
		margin-bottom: 2em;
		padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
		display: inline;
}
.menu > li a {
		text-decoration: none;
}
.menu > li:before {
		content: "|";
		padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
		content: "";
		padding: 0;
}
*/
