<div class="wrapper spike-bg">

    <!--HEADER----------------->
    <header class="header-login">
        <div class="row">
            <img src="assets/logoImage.png" class="logo-image center-block" alt="Logo picture / Cactus">
        </div <div class="row">
        <img src="assets/VectorLogo.png" class="logo-text center-block" alt="Logotyp / Cactus">

    </header>
    <!---------------->

    <div class="register-main">
        <form class="" method="post" ng-controller="createUser" ng-submit="createUser()">
            <div class="row">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputUsername1">Username</label>
                    <input type="text" name="name" ng-model="data.username" value="" class="input-style center-block" placeholder="Username" required>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputUsername1">Email</label>
                    <input type="text" name="name" ng-model="data.email" value="" class="input-style center-block" placeholder="Email" required>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputUsername1">Password</label>
                    <input type="text" name="name" ng-model="data.password" value="" class="input-style center-block" placeholder="Password" required>
                </div>
            </div>
            
            <div class="row">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputUsername1">Re-type password</label>
                    <input type="text" name="name" ng-model="data.reTypePassword" value="" class="input-style center-block" placeholder="Re-type Password" required>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="button-style padding-button center-block" name="button">Register</button>
            </div>
        </form>

    </div>
</div>