<form class="" method="post" ng-controller="createUser" ng-submit="createUser()">
  <input type="text" name="name" ng-model="data.username" value="" class="full-width" placeholder="Username" required>
  <input type="text" name="name" ng-model="data.email" value="" class="full-width" placeholder="Email" required>
  <input type="text" name="name" ng-model="data.password" value="" class="full-width" placeholder="Password" required>
  <input type="text" name="name" ng-model="data.reTypePassword" value="" class="full-width" placeholder="Retype Password" required>
  <button type="submit" class="full-width" name="button">Register</button>
</form>
