<form class="" method="post" ng-controller="createUser" ng-submit="createUser()">
  <input type="text" name="name" ng-model="data.username" value="" class="full-width" placeholder="Username">
  <input type="text" name="name" ng-model="data.email" value="" class="full-width" placeholder="Email">
  <input type="text" name="name" ng-model="data.password" value="" class="full-width" placeholder="Password">
  <input type="text" name="name" ng-model="data.reTypePassword" value="" class="full-width" placeholder="reTypePassword">
  <button type="button" class="full-width" name="button">Register</button>
</form>
